/* Top header */
a:focus {
  outline: none;
}
header {
  border-bottom: none;
  margin-bottom: 0;

  @include breakpoint(medium) {
    background: #fff;
    margin-bottom: 1.5rem;
  }
}
header .locale {
  float: right;
  margin-right: 0;

  @include breakpoint(medium) {
    margin-right: 0.75rem;
  }
}
.masthead-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.top-links {
  background: $light-gray;
  padding-right: 0;
  color: $text;

  @include breakpoint(medium) {
    padding-right: 0.75rem;
  }
}
header .external-links {
  padding: 0;

  @include breakpoint(medium) {
    padding: 0.375rem 0;
  }
}
.top-links a,
.top-links form.locale-form label,
.top-links form.locale-form select.locale-switcher {
  color: $text-medium;
}
.top-links form.locale-form select.locale-switcher {
  background-position: 3.5rem;
  width: 80px;
  height: 34px;
  padding: 0;
}
.top-bar {
  @include breakpoint(medium) {
    background: #fff !important;
  }
}
.top-bar .logo {
  @include breakpoint(medium) {
    color: $text;
  }
}
.top-bar .menu-icon.dark {
  margin-left: 0.5rem;
  background: $brand;
  top: 0.75rem;

  @include breakpoint(medium) {
    margin-left: 0;
  }
}
.top-bar ul.menu > li a {
  @include breakpoint(medium) {
    background: $white;
    color: $text;
  }
}
.top-bar ul.menu > li a.button {
  @include breakpoint(medium) {
    color: $brand;
  }
}
.top-bar #responsive-menu {
  text-align: center;
}
.top-bar .top-bar-title {
  display: inline-block;
  float: left;
}
.top-bar .top-bar-title a {
  color: $text;
}
.top-bar .top-bar-title a span {
  font-size: 2rem;
  font-weight: 600;
}
.top-bar .top-bar-title a img {
  height: auto;
}
.top-bar .top-bar-title a .main-logo {
  margin-left: 1rem;

  @include breakpoint(medium) {
    width: 50px;
  }
}
.top-bar .top-bar-title a .small-logo {
  width: 40px;
  margin-right: 0.5rem;
}
.custom-links {
  float: left;
  padding: 0.375rem 0 0.375rem 0.9rem;
  text-align: center;
}
.subnavigation.expanded {
  background: $white;
  text-align: center;

  @include breakpoint(medium) {
    background: $brand;
  }
}
.subnavigation.expanded > .row {
  position: relative;
}
.subnavigation.expanded .row > .medium-3 {
  @include breakpoint(medium) {
    position: absolute;
    right: 0;
  }
}
.subnavigation .input-group-button {
  line-height: 0;
}
.subnavigation .input-group-button button {
  margin-top: 0.5rem;

  @include breakpoint(medium) {
    background: none;
    border: none;
    border-bottom: 1px solid rgba($white, 0.6);
    color: $white;
    padding: 0;
    margin-top: 0;
    padding-right: 0.5rem;
  }
}
.subnavigation .input-group > :last-child > * {
  border-radius: 0;
}
.subnavigation .search-form-header form input[type]:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]) {
  margin-top: 0.5rem;

  @include breakpoint(medium) {
    margin-top: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid rgba($white, 0.6);
    color: $white;
    padding: 0;
  }
}
.subnavigation ul li a,
.subnavigation ul li a:hover,
.subnavigation ul li a:focus,
.subnavigation ul li a:active {
  color: $white;
}
.subnavigation ul li a.active {
  color: $white;
  border-bottom: 2px solid $white;
}

/* Header banner */
.header-banner-bg {
  text-align: center;
  min-height: 18vh;
  background-size: cover;
  color: $white;
  background-image: url(image-path('custom/banner_header.jpg'));
  background-color: $brand;
  background-blend-mode: multiply;
}
.header-banner-bg .banner-text {
  text-shadow: 0 0 4px rgba(0,0,0,0.50);
}
.header-banner-bg p {
  font-size: 1.25rem;
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.header-banner-bg .button {
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 2px;
}
