/* Top header */
a:focus {
  outline: none;
}
header {
  background: #fff;
  border-bottom: none;
}
header .locale {
  float: right;
  margin-right: 0.75rem;
}
.masthead-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.top-links {
  background: $light-gray;
  color: $text;
}
.top-links a,
.top-links form.locale-form label,
.top-links form.locale-form select.locale-switcher {
  color: $text-medium;
}
.top-links form.locale-form select.locale-switcher {
  background-position: 3.5rem;
  width: 80px;
  height: 34px;
  padding: 0;
}
.top-bar {
  background: #fff !important;
}
.top-bar .logo {
  color: $text;
}
.top-bar .menu-icon.dark {
  background: $brand;
}
.top-bar ul.menu > li a {
  background: $brand;
  color: $white;
}
.top-bar ul.menu > li a.button {
  color: $brand;
}
.top-bar #responsive-menu {
  text-align: center;
}
.top-bar .top-bar-title {
  display: inline-block;
  float: none;
}
.top-bar .top-bar-title a {
  margin-right: -8rem;
  color: $text;
}
.top-bar .top-bar-title a span {
  font-size: 2rem;
  font-weight: 600;
}
.top-bar .top-bar-title a img {
  height: auto;
}
.top-bar .top-bar-title a .main-logo {
  margin-left: 1rem;
  
  @include breakpoint(medium) {
    width: 50px;
  }
}
.top-bar .top-bar-title a .small-logo {
  width: 40px;
  margin-right: 0.5rem;
}
.custom-links {
  float: left;
  padding: 0.375rem 0 0.375rem 0.9rem;
  text-align: center;
}
.subnavigation.expanded {
  background: $brand;
  text-align: center;
}
.subnavigation ul li a,
.subnavigation ul li a:hover,
.subnavigation ul li a:focus,
.subnavigation ul li a:active {
  color: $white;
}
.subnavigation ul li a.active {
  color: $white;
  border-bottom: 2px solid $white;
}

/* Header banner */
.header-banner-bg {
  text-align: center;
  min-height: 18vh;
  background-size: cover;
  color: $white;
  background-image: url(image-path('custom/banner_header.jpg'));
  background-color: $brand;
  background-blend-mode: multiply;
}
.header-banner-bg .banner-text {
  text-shadow: 0 0 4px rgba(0,0,0,0.50);
}
.header-banner-bg p {
  font-size: 1.25rem;
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.header-banner-bg .button {
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 2px;
}
