// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

/* Colors */
$brand: #BC3E43;
$link: $brand;
$link-hover: darken($link, 20%);
$button-background-hover: scale-color($brand, $lightness: -15%);

/* Sections */
$proposals: $brand;
$proposals-dark: darken($brand, 20%);

/* Utils */
$highlight: rgb(251,251,251);
$light-gray: #f0f0f0;

/* Grid */
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xxlarge: 1440px
);

$breakpoint-classes: (small medium large xxlarge);
