<div class="expanded padding no-margin-top cover one">
  <div class="row teaser">
    <div class="teaser-headline">
      <h1>Propón, debate, decide.</h1>
      
      <svg class="underline-stroke" xmlns="http://www.w3.org/2000/svg" width="163" height="18" viewBox="0 0 163 18">
        <path fill="none" stroke="#fff" stroke-width="4" d="M550.243244,86.6963103 C550.243244,86.6963103 616.025479,68.8760103 711.34777,73.9851746" transform="translate(-549 -71)"/>
      </svg>
    </div>

    <p class="teaser-desc">Bienvenido a la plataforma de participación ciudadana del Ayuntamiento de Burjassot</p>
    
    <%= link_to t("layouts.header.see_all"), proposals_path, class: "button negative see-more" %>
  </div>
</div>

<div class="expanded padding no-margin-top gray cover second">
  <div class="row">
    <div class="small-12 large-8 xxlarge-6 column">
      <div class="teaser-headline">
        <h1>Haz tu propuesta</h1>

        <svg xmlns="http://www.w3.org/2000/svg" width="188" height="181" viewBox="0 0 188 181">
          <g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2" transform="translate(-485 -49)">
            <path d="M486,51 C486,51 520.599832,49.4891635 562,70.5820312 C603.400168,91.674899 668.56854,149.169185 668.56854,226.378307"/>
            <path d="M665.56854,215.578307 L668.56854,226.378307 L671.56854,215.578307"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="small-12 large-5 large-offset-7 column">
      <p class="teaser-desc">En esta plataforma puedes proponer acciones concretas para mejorar tu municipio</p>
    </div>
  </div>
</div>

<div class="expanded padding no-margin-top gray cover third">
  <div class="row">
    <div class="small-12 large-8 large-offset-4 xxlarge-6 xxlarge-offset-10 column">
      <div class="teaser-headline">
        <h1>Vota</h1>
        <p>Involúcrate y debate</p>
        <p>Participa en los procesos municipales</p>

        <svg xmlns="http://www.w3.org/2000/svg" width="440" height="298" viewBox="0 0 440 298">
          <g fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="2" transform="translate(-646 -2296)">
            <path d="M1085.53516 2298.77734C1085.53516 2298.77734 644.015625 2263.98437 650.125 2589.53906M646.92289 2578.79725L650.125 2589.53906 652.921834 2578.68468"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
  
  <div class="row cards hide-for-small-only">
    <div class="small-12 large-3 column">
      <div class="card red">
        <h3 class="card-headline">Debates</h3>
        <p class="card-copy">Lorem ipsum augue ad tempor diam belit eget metus, eu erat efficitur, Cras quis, leo, ut. </p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card blue">
        <h3 class="card-headline">Propuestas</h3>
        <p class="card-copy">Lorem ipsum augue ad tempor diam belit eget metus, eu erat efficitur, Cras quis, leo, ut. </p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card green">
        <h3 class="card-headline">Votaciones</h3>
        <p class="card-copy">Lorem ipsum augue ad tempor diam belit eget metus, eu erat efficitur, Cras quis, leo, ut. </p>
      </div>
    </div>
    <div class="small-12 large-3 column">
      <div class="card gray">
        <h3 class="card-headline">Presupuestos</h3>
        <p class="card-copy">Lorem ipsum augue ad tempor diam belit eget metus, eu erat efficitur, Cras quis, leo, ut. </p>
      </div>
    </div>
  </div>
</div>

<main>
  <section class="row last-proposals margin">
    <div class="small-12 column section-headline">
      <h3>Últimas propuestas</h3>
      <a class="section-link" href="/proposals">ver todas</a>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>¿Debe el ayuntamiento ampliar los horarios de metro?</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Decide</a>
      </div>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Ampliación de los carriles bici en el centro de la ciudad</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Decide</a>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Nueva tarifa para los billetes de metro, autobús y tranvía</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Decide</a>
      </div>
    </div>
    
    <hr class="dashed-sep">
  </section>
  
  <section class="row expanded small-collapse banner-section">
    <div class="small-12 medium-6 column">
      <div class="banner">
        <div class="banner-content">
          <h3>¿En qué consiste Decide Burjassot?</h3>
          <p>Decide Burjassot es una plataforma abierta a los ciudadanos donde se debaten y se toman decisiones importantes para el municipio.</p>
          <a a href="/more_information" class="button negative">Más información</a>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 column">
      <div class="banner-bg"></div>
    </div>

    <hr class="dashed-sep">
  </section>
  
  <section class="row last-debates margin">    
    <div class="small-12 column section-headline">
      <h3>Últimos debates</h3>
      <a class="section-link" href="/debates">ver todos</a>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Aumentar el número de guarderías municipales en la ciudad</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Comenta</a>
      </div>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Más áreas verdes cerca de los colegios y universidades</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Comenta</a>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Mejora de las infraestructuras de transporte, 2017-2020</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Comenta</a>
      </div>
    </div>
    
    <hr class="dashed-sep">
  </section>
  
  <section class="row last-proposal-ballots margin">
    <div class="small-12 column section-headline">
      <h3>Últimas votaciones</h3>
      <a class="section-link" href="/proposal_ballots">ver todas</a>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>¿Debe el ayuntamiento ampliar los horarios de metro?</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Vota</a>
      </div>
    </div>
    
    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Ampliación de los carriles bici en el centro de la ciudad</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Vota</a>
      </div>
    </div>

    <div class="small-12 medium-4 column">
      <div class="link-card">
        <div class="deadline"><span class="icon-calendar" aria-hidden="true"></span> Vota hasta el 23 de enero</div>
        <h4>Nueva tarifa para los billetes de metro, autobús y tranvía</h4>
        <p>L’Àrea de Projectes Europeus de la Diputació de València ultima un pla per a la creació d’una planta de biomassa en la zona de la Font de la Figuera. El responsable de l’Àrea, Bartolomé Nofuentes…</p>
        <a href="#" class="button">Vota</a>
      </div>
    </div>
  </section>
  
</main>
